
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */